body {
  display: grid;
  grid: auto-flow min-content/ repeat(12, 1fr);
  margin: 1em;
  grid-gap: 1em;
}

header, footer {
  grid-column-start: 1;
  grid-column-end: 13;
}

nav, .aside {
  grid-column-start: 1;
  grid-column-end: 4;
}

.main {
  grid-column-start: 4;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 4;
  display: grid;
  align-items: center;
}

.nav ul {
  display: grid;
  justify-items: center;
}

.nav ul li, .footer ul li {
  list-style: none;
}

.nav ul li a, .footer ul li a {
  text-decoration: none;
  color: #000;
}

p {
  max-width: 30em;
}

#pie1, #pie5 {
  grid-column-start: 1;
  grid-column-end: 4;
}

#pie2, #pie6 {
  grid-column-start: 4;
  grid-column-end: 7;
}

#pie3, #pie7 {
  grid-column-start: 7;
  grid-column-end: 10;
}

#pie4, #pie8 {
  grid-column-start: 10;
  grid-column-end: 13;
}

.img {
  display: grid;
  justify-items: center;
  align-items: center;
}

.main {

}